/* CloudsdaleFM Gamma Website style 👀 */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,500');


/* ------------- Global ------------- */

* { /* To hack some browser defaults */
    margin: 0;
    padding: 0;
    font-family: "Fira Sans Extra Condensed", sans-serif;

    --link-color: #eaeaea;
    --text-color: #d3d3d3;

}

body {
    background: #0b101c;
}

p {
    color: var(--text-color);
}

#legal {
    position: relative;
    max-width: 350px;
    background: #1c2944;
    text-align: right;
    float: right;
    font-size: 0.9em;
    padding: 4px;
    margin-right: 3px;
    color: var(--text-color);
    clear: both;
}


#navbar {
    background: #1c2944;
    width: 100%;
    position: relative;
    height: 70px;
    color: white;
    /*line-height: 70px;*/
    display: flex;
    vertical-align: middle;
}

a:link, a:visited {
    color: var(--link-color);
    text-decoration: none;
    font-weight: 500; /* default is 400 */
}
a:hover {
    color: white;
}


#navbar img {
    height: 70px;
    width: auto;
    margin-left: 10px;
    margin-right: 30px;
    transition: all 1s;
    filter: brightness(140%);
}

#navbar img:hover {
    filter: brightness(100%);
}

#navbar button {
    color: var(--link-color);
    background: inherit;
    border: none;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
    margin-left: 10px;
    height: 100%;
    min-width: 120px;
    max-width: 150px;
    cursor: pointer;
    transition: ease-in-out 0.05s;
}

#navbar button:hover {
    color: white;
    background: #4678ce;
}

#navbar #user-area {
    position: absolute;
    height: 100%;
    min-width: 350px;
    text-align: right;
    right: 0;
    line-height: 70px;
    margin-right: 15px;
    display: inline-block;
}

#navbar #user-area img.ismember {
    width: 12px;
    height: auto;
    margin-left: 4px;
    margin-right: 4px;
}

#navbar #user-area img.avatar {
    width: 40px;
    height: auto;
    border-radius: 50%;
    filter: brightness(100%);
    vertical-align: middle;
    margin-right: 3px;
}

#legal {
    position: relative;
    max-width: 350px;
    background: #1c2944;
    text-align: right;
    float: right;
    font-size: 0.9em;
    padding: 4px;
    margin-right: 3px;
    color: var(--text-color);
    clear: both;
}

#partners img {
    opacity: 0.5;
    margin: 4px;
    transition: ease-in-out 0.3s;
}
#partners img:hover {
    opacity: 1;
}

/* -------------- Listen -------------- */

#sky {
    clear: both;
    position: relative;
    width: 100%;
    min-height: 300px;
    height: 70vh;
    background: url('../img/bg1.png') center no-repeat;
    background-size: cover;
    display: inline-block;
}

#sky .skyhalf {
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-info {
    font-size: 0.9em;
    color: var(--text-color);
    opacity: 0.7;
}

.player-info img {
    height: 20px;
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}
.player-info img:hover {
    filter: contrast(50%);
}



/* -------------- Donate ------------- */

#donatesite {
    position: absolute;
    background: url('../img/bg1.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#donatebox {
    width: 40%;
    min-width: 350px;
    height: auto;
    color: var(--text-color);
    background: #0b101c;
    padding: 7px;
    border-radius: 3px;
}

#donatebox img {
    min-width: 200px;
    max-width: 250px;
    width: auto;
    height: auto;
}

/* --------------- Login -------------- */

#sky .skyhalf input {
    padding: 8px;
    color: var(--text-color);
    background: #0b101c;
    border: 0;
}
#sky .skyhalf input[type=submit] {
    background: #1c2944;
    cursor: pointer;
}
#sky .skyhalf input:hover {
    filter: brightness(150%);
}

/* -------------- Settings -------------- */

#sky .skyhalf #accountsettings {
    background: #0b101c;
    color: white;
    padding: 16px;
}

#sky .skyhalf #accountsettings img.avatar {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
}